.logout {
  width: 40%;
  height: 30vh;
  padding: 40px;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout h2 {
  font-size: 32px;
  color: #1f4068;
  margin-bottom: 20px;
  border-bottom: 3px solid #1f4068;
  padding-bottom: 12px;
  font-weight: 700;
  background: linear-gradient(90deg, rgba(31, 64, 104, 0.1), rgba(31, 64, 104, 0));
  text-align: center;
  width: 100%;
}

.bt {
  margin-top: 45px;
  width: 160px;
  background-color: #14213d;
  color: #ffffff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 600;
}

.bt:hover {
  background-color: #a4bfe0;
  color: black;
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(31, 64, 104, 0.3);
}

.confirm {
  text-align: center;
}

.confirm p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
  position: relative;
  bottom: 20px;
}

.button1 {
  background-color: #ff4d4d;
}

.button1:hover {
  background-color: #ff8080;
}

.button2 {
  background-color: #376aa7;
}

.button2:hover {
  background-color: #5d7fa9;
}




/* Media Query */

@media (max-width: 1024px) {
  .logout {
    width: 60%;
    padding: 30px;
    height: auto;
  }

  .logout h2 {
    font-size: 28px;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }

  .bt {
    width: 140px;
    padding: 12px;
    font-size: 14px;
  }

  .confirm p {
    font-size: 16px;
  }

  .buttons {
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .logout {
    width: 80%;
    padding: 20px;
    height: auto;
  }

  .logout h2 {
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 8px;
  }

  .bt {
    width: 120px;
    padding: 10px;
    font-size: 12px;
  }

  .confirm p {
    font-size: 14px;
  }

  .buttons {
    gap: 10px;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .logout {
    width: 95%;
    padding: 15px;
    height: auto;
  }

  .logout h2 {
    font-size: 20px;
    margin-bottom: 8px;
    padding-bottom: 6px;
  }

  .bt {
    width: 100px;
    padding: 8px;
    font-size: 10px;
  }

  .confirm p {
    font-size: 12px;
  }
}