html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.docs-id-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.docs-id-container>* {
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-grow: 1;
    width: 100%;
}