* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}

.sidebar {
  width: 25%;
  height: 100vh;
  background-color: #14213d;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  transition: width 0.3s ease;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  color: white;
}

.sidebar-item:hover {
  background-color: #a4bfe0;
  transform: scale(1.05);
}

.sidebar-item:focus {
  outline: 2px solid #a4bfe0;
  background-color: #a4bfe0;
  transform: scale(1.05);
}

.icon {
  font-size: 24px;
}

.label {
  font-size: 18px;
  margin-left: 15px;
  font-weight: 500;
}

.sidebar-item:first-child {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 35%;
    padding: 15px;
  }

  .sidebar-item {
    padding: 12px;
  }

  .icon {
    font-size: 20px;
  }

  .label {
    font-size: 16px;
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    padding: 10px;
  }

  .sidebar-item {
    padding: 10px;
  }

  .icon {
    font-size: 18px;
  }

  .label {
    font-size: 14px;
    margin-left: 8px;
  }
}