/* ShowPage.css */
.container {
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #f7f7f7;
}

.result-text {
    width: 100%;
    margin-top: 20px;
    color: #333;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
    overflow-y: auto;
    /* Add this to enable scrolling if content exceeds the container height */
}

.formatted-data {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.gen-head {
    color: #018e42;
    font-size: 1.5rem;
}