.form {
  width: 75%;
  height: 69vh;
  margin: 0 auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 32px;
  color: #1f4068;
  margin-bottom: 20px;
  border-bottom: 3px solid #1f4068;
  padding-bottom: 12px;
  font-weight: 700;
  background: linear-gradient(90deg, rgba(31, 64, 104, 0.1), rgba(31, 64, 104, 0));
  text-align: center;
}

.update-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-div {
  margin-top: 15px;
}

label {
  font-size: 18px;
  color: #333;
  margin-bottom: 8px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: #1f4068;
  box-shadow: 0 0 8px rgba(31, 64, 104, 0.3);
}

.btns {
  padding: 14px;
  background-color: #14213d;
  width: 160px;
  margin-left: 33.7rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 30px;
}

.btns:hover {
  background-color: #a4bfe0;
  color: black;
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(31, 64, 104, 0.3);
}