.right {
  width: 75%;
  height: 66vh;
  padding: 40px;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.right h2 {
  font-size: 32px;
  color: #1f4068;
  margin-bottom: 20px;
  border-bottom: 3px solid #1f4068;
  padding-bottom: 12px;
  font-weight: 700;
  background: linear-gradient(90deg, rgba(31, 64, 104, 0.1), rgba(31, 64, 104, 0));
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-child {
  display: flex;
  flex-direction: column;
}

.form-child:first-child {
  margin-top: 15px;
}

label {
  font-size: 18px;
  color: #333;
  margin-bottom: 8px;
  font-weight: 600;
}

input {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: #1f4068;
  box-shadow: 0 0 8px rgba(31, 64, 104, 0.3);
}

.btbt {
  margin-top: 30px;
  width: 160px;
  background-color: #14213d;
  color: #ffffff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 600;
  margin-left: auto;
}

.btbt:hover {
  background-color: #a4bfe0;
  color: black;
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(31, 64, 104, 0.3);
}




/* Media Query */

@media (max-width: 768px) {
  .right {
    width: 90%;
    padding: 30px;
    margin-top: 30px;
  }

  .right h2 {
    font-size: 28px;
  }

  input {
    padding: 12px;
    font-size: 14px;
  }

  .btbt {
    width: 140px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .right {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
  }

  .right h2 {
    font-size: 24px;
  }

  input {
    padding: 10px;
    font-size: 14px;
  }

  .btbt {
    width: 120px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .btbt {
    width: 140px;
    padding: 12px;
    font-size: 14px;
    margin-left: auto;
  }
}

@media (max-width: 480px) {
  .btbt {
    width: 120px;
    padding: 10px;
    font-size: 12px;
    margin-left: auto;
  }
}